* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    overflow: hidden;
    height: 100px;

}

.box {
    white-space: nowrap;

    /*top: 10px;*/
}

.box div {
    display: inline-block;
    position: absolute;
    left: 0;
    top: 0;
}

.box div h2 {
    position: fixed;
    left: 36%;
    font-size: 48px;
    text-shadow: 2px 2px 3px #20B2AA;
}

.box div button {
    position: relative;
    left: 0;
}



/*ul.hr li {*/
/*    display: inline; !* Отображать как строчный элемент *!*/
/*    margin-right: 5px; !* Отступ слева *!*/
/*    border: 1px solid #000; !* Рамка вокруг текста *!*/
/*    padding: 3px; !* Поля вокруг текста *!*/
/*}*/

.logout {
    position: relative;
    left: 86%;
}

/*nav .menu {*/
/*    margin: 0;*/
/*    position: absolute;*/
/*    left: 80%;*/
/*    top: 20px;*/
/*}*/

/*ul .hr {*/
/*    margin: 0;*/
/*    position: absolute;*/
/*    left: 80%;*/
/*    top: 50px;*/

/*}*/

.menu{
    position: relative;
    left: 0;
    top: 30px;
}

/*ul .hr {*/
/*    margin: 0;*/
/*    position: absolute;*/
/*    left: 6%;*/
/*    top: 20px;*/
/*}*/



.treeHTML {
    line-height: normal;
}

.treeHTML details {
    display: block;
}

.treeHTML div {
    position: relative;
    margin: 0 0 0 .5em;
    padding: 0 0 0 1.2em;
}

.treeHTML summary {
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer;
}

.treeHTML details[open] summary {
    outline: none;
}

footer {
    position: fixed;
    bottom: 0;
    padding: 10px;
    background: #20B2AA;
    color: #fff;
    width: 100%;
}

footer .rights {
    text-align: center;
}

.container{
    margin-top: 100px;
    margin-bottom: 50px;
}

ul.hor_nav {
    margin: 0;
    padding: 0;
}
ul.hor_nav li {
    display: inline;
    margin-right: 4px;
    padding: 2px;
}
.card-group{

    margin-right: 4px;
    padding: 2px;
}
.card{
    display: inline;
}
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: black;
    text-align: center;
}
.navbar-nav li a {
    line-height: 60px;
    height: 60px;
    padding-top: 0;
}
.navbar-default{
    background: whitesmoke;
}
.panel-default:hover{
    border-color: goldenrod;
}
.panel-default{
    border-color: transparent;
}

.login-block
{
    background-color:#fff;
    padding:60px;
    -webkit-box-shadow:0 3px 50px 0 rgba(0,0,0,.1);
    box-shadow:0 3px 50px 0 rgba(0,0,0,.1);
    text-align:center;
    border-radius:5px
}
.login-block h1,.login-block h6
{
    font-family:Open Sans,sans-serif;
    color:#96a2b2;
    letter-spacing:1px
}
.login-block h1
{
    font-size:22px;
    margin-bottom:60px;
    margin-top:40px
}

.login-block .input-group-addon
{
    color:#29aafe;
    font-size:19px;
    opacity:.5
}
.login-block .btn-block
{
    margin-top:30px;
    padding:15px;
    background:#29aafe;
    border-color:#29aafe;
}
.login-block .hr-xs
{
    margin-top:5px;
    margin-bottom:5px
}

.menu > div{
    width: 19%;
    /*height: 400px;*/
    display: inline-block;
    margin-right: 0.5%;
}

.holder {
    position: relative;
    margin: 0;
}

.block {
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    top: 80%;
    background: rgba(255, 255, 255, 0.3);
    padding: 0;
    display: none;
    text-decoration: peru;
}

.holder:hover .block {
    display: block;
    width: 100%;
}

.radio-ul {
    list-style: none;
}
.radio-li {
    display: inline-block;
    margin-right: 0;
    margin-left: 0;
}
.radio-input {
    visibility:hidden;

}
.radio1{
    text-decoration-color: cornflowerblue;
    font-size: large;

}
.radio-label {
    cursor: pointer;
    width: 10%;
}

body {font-family: Arial, Helvetica, sans-serif;}

#myBtn {
    background-color: lightgrey;
    color: white;
    padding: 12px 16px;
    font-size: 18px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    width: 180px;
}

table.calendar {
    margin-bottom: 0;
}

table.calendar > thead > tr > th {
    text-align: center;
}

table.calendar > tbody > tr > td {
    height: 20px;
}

table.calendar > tbody > tr > td > div {
    padding: 8px;
    height: 40px;
    overflow: hidden;
    display: inline-block;
    vertical-align: middle;
    float: left;
}

table.calendar > tbody > tr > td.has-events {
    color: black;
    cursor: pointer;
    padding: 0;
    border-radius: 4px;
}

table.calendar > tbody > tr > td.has-events > div {
    background-color: #E1BEE7;
    /*border-left: 1px solid white;*/
}

table.calendar > tbody > tr > td.has-events > div:first-child {
    border-left: 0;
    margin-left: 1px;
}

table.calendar > tbody > tr > td.has-events > div.practice {
    opacity: 0.7;
}


table.calendar > tbody > tr > td.has-events > div > span {
    display: block;
    text-align: center;
}
table.calendar > tbody > tr > td.has-events > div > span a {
    color: black;
}

table.calendar > tbody > tr > td.has-events > div > span.title {
    font-weight: bold;
}

table.table-borderless > thead > tr > th, table.table-borderless > tbody > tr > td {
    border: 0;
}

